* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}

.container {
  margin: auto;
}

.square {
  width: 100px;
  height: 100px;
  margin: 8px;
  background-color: #ff7f50;
}

@media only screen and (min-width: 600px) and (orientation: landscape) {
  .square {
    background-color: #8a2be2;
  }
}

@media only screen and (min-width: 600px) and (orientation: portrait) {
  .square {
    background-color: #8a2be2;
  }

  .container {
    display: flex;
  }
}
