* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
}

.tree {
  content: url(small.jpeg);
  display: block;
  max-width: 100%;
}

@media only screen and (min-width: 400px) {
  .tree {
    content: url(big.jpeg);
  }
}
