* {
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
}

.thumb {
  /* position: relative;
  margin: 8px;
  overflow: scroll;
  flex-grow: 1;
  flex-shrink: 1; */
  margin: 8px;
  overflow: scroll;
}
