.articles {
  display: flex;
}

div > div {
  height: 100px;
  width: 150px;
  margin: 16px;
  background-color: beige;
}

.cropped {
  overflow: hidden;
}

.both-scrolls {
  overflow: scroll;
}

.vertical-scroll {
  overflow: auto;
  cursor: all-scroll;
  /* overflow-y: auto;
  overflow-x: auto; */
}
