* {
}

.dropdown {
  margin: 16px;
  display: inline-block;
}

.menu-button {
  padding: 16px;
  background-color: darkgreen;
  position: absolute;
  color: white;
  opacity: 0.8;
  font-size: 16px;
  cursor: pointer;
}

.menu-list {
  top: 65px;
  display: none;
  margin: 0;
  padding: 0;
  color: black;
  background-color: lightcyan;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  width: 120px;
  z-index: 1;
  list-style-type: none;
  position: absolute;
}

.menu-item {
  padding: 16px;
}

.dropdown:hover .menu-list {
  display: block;
}
