* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
}

.tree {
  content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson22/task3/small.jpg");
  display: block;
  max-width: 100%;
}

@media only screen and (min-width: 400px) {
  .tree {
    content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson22/task3/big.jpeg");
  }
}
