* {
  margin: 0;
}

div {
  box-sizing: border-box;
  margin: 8px;
}

.form {
  /* display: flex;
  flex-direction: column; */
  margin: 32px;
}

input {
}

.form__checkbox {
  /* display: inline-block; */
}
