* {
  box-sizing: border-box;
}
.galery {
  position: relative;
}

.image {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px dotted gray;
}
