* {
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  box-sizing: border-box;
}

.galery {
=======
>>>>>>> a20bf89b8b565af73553e049823c7018c49f5011
}

.image {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px dotted gray;
}
