* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
.galery {
}

.image {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px dotted gray;
  background-clip: border-box;
}
