* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  display: flex;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+13/hw2/background.jpg);

  background-size: auto;
  position: relative;
}
