* {
  box-sizing: border-box;
}

.mountains {
  padding: 32px;
  height: 500px;
  width: 300px;
  font-weight: 700;
  text-weight:700;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+13/task1/nature.jpeg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  font-size: 32px;
}
