* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.block {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  background-color: coral;
  line-height: 100px;
  animation: move 10s infinite;
  position: relative;
  animation-fill-mode: backwards;
}

@keyframes move {
  from {
    top: -200px;
  }
  to {
    top: calc(50vh - 50px);
  }
}
